-category = category || {}
-category.report = category.report || {}
-errors = errors || {}

+alert-error("expenseCategory")

form(method="post")

    .form-group
        label(for="name")=t("expenseCategory.model.name")
        input.form-control#amount(type="text", name="name" value=category.name autofocus class=errors.name?"is-invalid":false)
        +form-error(t(`expenseCategory.error.name.${errors.name}`), errors.name)
    
    .form-group
        label(for="icon")=t("expenseCategory.model.icon")
        input#icon.form-control(type="text", name="icon" value=category.icon class=errors.icon?"is-invalid":false)
        +form-text(t("expenseCategory.instruction.icon"), t(`expenseCategory.error.icon.${errors.icon}`), errors.icon)
    
    .form-group
        label(for="color")=t("expenseCategory.model.color")
        input#color.form-control(type="text", name="color" value=category.color class=errors.color?"is-invalid":false)
        +form-text(t("expenseCategory.instruction.color"), t(`expenseCategory.error.color.${errors.color}`), errors.color)

    .form-group
        label(for="report")=t("expenseCategory.model.report")
        br
        input#report(type="checkbox" data-toggle="toggle" data-onstyle="info" data-toggle-reveal=".report-data" name="report.active" checked=category.report.active)
        span.report-data
            |&nbsp;
            input.form-control(type="number" style="width:100px;display:inline" name="report.times" value=category.report.times)
            |&nbsp;time(s) a&nbsp;
            select#report.form-control(style="width:100px;display:inline" name="report.period")
                //, "week", "month"]
                for period in ["day"]
                    option(value=period selected=category.report.period==period)=period
            |&nbsp;=&nbsp;
            input.form-control(type="text" style="width:100px;display:inline" placeholder="per" name="report.per" value=category.report.per)
        +form-text("For example <b>3</b> times a <b>day</b> is a <b>meal</b> (for food), 1 time a day is a night (for accomodation)", t(`expenseCategory.error.report.${errors.report}`), errors.report)(class="report-data")
    
    input.btn.btn-success(type="submit", value=t("action.save"))