-people = people || {}
-people.from = people.from || {}
-errors = errors || {}

form(method="post")
    
    +alert-error("people")

    .row
        .col-sm-6
            .form-group
                label(for="firstName")=t("people.model.firstName")
                input.form-control#firstName(type="text" name="firstName" value=people.firstName autofocus class=errors.firstName?"is-invalid":false)
                +form-error(t(`people.error.firstName.${errors.firstName}`), errors.firstName)

        .col-sm-6
            .form-group
                label(for="lastName")=t("people.model.lastName")
                input.form-control#lastName(type="text" name="lastName" value=people.lastName class=errors.lastName?"is-invalid":false)

        .col-sm-6
            .form-group
                label(for="from")=t("people.model.from")
                .input-group
                    select#from.form-control(name="from")
                        for country in countries
                            option(value=country._id selected=country._id.equals(people.from._id||people.from))=country.name
                    .input-group-append
                    
                        a.btn.input-group-text(href="#" title=t("country.btn.new") data-form-step="/country/new" data-form-step-name="country")
                            i.fa.fa-plus
        
        .col-sm-6
            .form-group
                label(for="met_at")=t("people.model.met_at")
                input#met_at.form-control(type="date" name="met_at" value=util.dateToInput(people.met_at||Date.now()))
    
    .row
        .col-6.col-sm-3
            .form-group
                label(for="sexe")=t("people.model.sex")
                br
                input#sexe(type="checkbox" data-toggle="toggle" data-onstyle="danger" data-offstyle="info" data-on="<i class='fa fa-2x fa-female'></i>" data-off="<i class='fa fa-2x fa-male'></i>" name="sexe" checked=people.sexe)
        
        .col-6.col-sm-3
            .form-group
                label(for="age")=t("people.model.age")
                input.form-control#age(type="number" name="age" value=parseInt(people.age) class=errors.age?"is-invalid":false)

        .col-sm-6
            .form-group
                label(for="metIn")=t("people.model.metIn")
                input.form-control#metIn(type="text" name="metIn" value=people.metIn class=errors.metIn?"is-invalid":false)
                +form-error(t(`people.error.metIn.${errors.metIn}`), errors.metIn)


    input.btn.btn-success(type="submit", value=t("action.save"))