extends ../layout/layout

mixin line(people)
    tr
        td(data-link=`/people/${people._id}`)
            =people.firstName+" "+(people.lastName || '')
            small.text-muted
                |&nbsp;
                =people.from ? people.from.name : "?"
        td(data-link=`/people/${people._id}`)
            =people.metIn
            small.text-muted
                |&nbsp;
                =util.todayOrDate(people.met_at)
        td.actions
            a.btn.btn-outline-secondary.btn-sm(href=`/people/${people._id}/note/new` title=t('people.note.btn.new') style="line-height:1")
                i.fa.fa-sticky-note.fa-fw
                if people.note.length
                    =people.note.length
            |&nbsp;
            .btn-group
                +edit_btn(`/people/${people._id}/edit`, "", t("action.edit"), "a")
                +delete_btn(`/people/${people._id}/delete`, "", t("action.delete"), "a")

block content
    .container
        .row
            
            .col-12
                .alert.alert-hollow
                    .h1-actions
                        .btn-group
                            a.btn.btn-outline-success(href="/people/new" data-sameWidth="b")
                                i.fa.fa-plus
                                br
                                =t("people.button.new")
                            a.btn.btn-outline-secondary(href="/country" data-sameWidth="b")
                                i.fa.fa-globe-americas
                                br
                                =t("country.btn.index")
                            
                            
                    h1=t("people.title.index")

                    if peoples && peoples.length
                        table.table.table-hover
                            
                            thead
                                tr
                                    th=t("people.model.name")
                                    th=t("people.model.metIn")
                                    th.actions
                            for people in peoples
                                +line(people)
                    else
                        +no-data