extends ../layout/layout

block content

    .container
        .row
            .col
                .alert.alert-hollow
                    .h1-actions
                        .btn-group
                            +edit_btn(`/expense/${expense._id}/edit`, t("action.edit"), "", "a")
                            +delete_btn(`/expense/${expense._id}/delete`, t("action.delete"), "", "a")
                    h1=t("expense.title.expense")

                    .row
                        .col-sm-6
                            .text-center
                                i.fa.fa-fw.huge.icon-shadow(class=`fa-${expense.category?expense.category.icon:"question"}` style=`color:${expense.category?expense.category.color:"#CCC"}`)
                                br
                                =expense.category?expense.category.name:"No category"
                        .col-sm-6

                        
                            dl
                                dt=t("expense.model.date")
                                dd=util.todayOrDate(expense.date)
                                dt=t("expense.model.amount")
                                dd.big
                                    =expense.amount.toFixed(2)
                                    |&nbsp;€