extends ../layout/layout

mixin line(expense)
    tr
        td(data-link=`/expense/${expense._id}`)=util.todayOrDate(expense.date)
        td(data-link=`/expense/${expense._id}`)
            .container
                .row
                    .col-sm-6.text-right
                        i.fa.fa-fw(class=`fa-${expense.category?expense.category.icon:"question"}`)
                        |&nbsp;
                        =expense.amount.toFixed(2)
        td.actions
            .btn-group
                +edit_btn(`/expense/${expense._id}/edit`, "", t("action.edit"), "a")
                +delete_btn(`/expense/${expense._id}/delete`, "", t("action.delete"), "a")

block content
    .container
        .row
            .col-lg-3.col-md-4.col-sm-6
                .row
                    .col
                        .alert.alert-hollow
                            .text-center
                                .big
                                    =Math.ceil(report.total)
                                    |&nbsp;&euro;
                                =t("expense.report.spent.this_month")
                        .alert.alert-hollowz
                            .row
                                for item in report.categories
                                    .col-8.text-overflow.no-wrap(style=`background-color:${item.category?item.category.color:t("expenseCategory.none.color")};padding-top:5px;padding-bottom:5px;`)
                                        i.fa.fa-fw(class=`fa-${item.category?item.category.icon:"question"}`)
                                        |&nbsp;
                                        =item.category ? item.category.name : t("expenseCategory.none.name")
                                    .col-4.text-right(style=`background-color:${item.category?item.category.color:t("expenseCategory.none.color")};padding-top:5px;padding-bottom:5px;`)
                                        strong=item.total.toFixed(2)


            .col-lg-9.col-md-8.col-sm-6
                .row(style="height:100%;min-height:300px")
                    .col-md-6
                        script.
                            let data={
                                labels: [#{report.categories.map(item=>item.category?"'"+item.category.name+"'":"'No category'")}],
                                series:[#{report.categories.map(item=>item.total)}],
                                colors:[#{report.categories.map(item=>item.category?"'"+item.category.color+"'":"'"+t("expenseCategory.none.color")+"'")}]
                            }
                        .ch-chart#chart-report-month-categories
                     

            .col-12
                .row
                    for category in report.reports
                        .col-lg-3.col-md-4.col-sm-6
                            .alert.alert-hollow.text-center
                                .big
                                    i.fa.fa-fw.icon-shadow(class=`fa-${category.icon}` style=`color:${category.color};`)
                                    |&nbsp;
                                    =category.report.value.toFixed(2)
                                |per&nbsp;
                                =category.report.per


            .col-12
                .alert.alert-hollow
                    .h1-actions
                        .btn-group
                            a.btn.btn-outline-success(href="/expense/new" data-sameWidth="b")
                                i.fa.fa-plus
                                br
                                =t("expense.button.new")
                            a.btn.btn-outline-secondary(href="/expense/category" data-sameWidth="b")
                                i.fa.fa-list
                                br
                                =t("expense.button.categories.manage")
                    h1 Details

                    if expenses.length
                        table.table.table-hover
                            
                            //thead
                                tr
                                    th=t("expense.model.date")
                                    th=t("expense.model.amount")
                                    th.actions
                            for expense in expenses
                                +line(expense)
                    else
                        +no-data