.alert.alert-hollow.no-overflow
    //h3=t("event.title.journal")

    .alert-icon
        +icon(null, "event", "#CCC6")

    table.table.table-hover.table-no-head.mb-0
        for event in journalData.events
            tr(data-show-hover=`event_show_hover${event._id}`)
                td(data-link=`/event/${event._id}`)
                    +icon(event.category, "event")
                    b
                        |&nbsp;
                        =event.title
                    br
                    small.text-muted
                        =event.description
                        |&nbsp;
                td.actions
                    .btn-group(class=`event_show_hover${event._id}`)
                        +edit_btn(`/event/${event._id}/edit`, null, t("action.edit"))
                        +delete_btn(`/event/${event._id}/delete`, null, t("action.delete"))
    
    .text-right
        +new_btn(`/event/new?date=${year}-${util.zero(month)}-${util.zero(day)}`, t("event.button.new"), "", "", true)