.alert.alert-hollow
    //h3=t("expenses.title.journal")
    
    .alert-icon
        +icon(null, "expense", "#CCC6")

    table.table.table-hover.table-no-head.mb-0
        for expense in journalData.expenses
            tr(data-show-hover=`expense_show_hover${expense._id}`)
                td(data-link=`/expense/${expense._id}`)
                    +icon(expense.category, "expense")
                    b
                        |&nbsp;
                        =expense.amount.toFixed(2)
                        |&nbsp;€
                    br
                    small.text-muted
                        =expense.description
                        |&nbsp;
                td.actions
                    .btn-group(class=`expense_show_hover${expense._id}`)
                        +edit_btn(`/expense/${expense._id}/edit`, null, t("action.edit"))
                        +delete_btn(`/expense/${expense._id}/delete`, null, t("action.delete"))
    .text-right
        +new_btn(`/expense/new?date=${year}-${month}-${day}`, t("expense.button.new"), "", "", true)