extends ../layout/layout


mixin line()
    tr
        -d=0
        while d++ < 7
            if first>cell++ || last<n
                td.no-hover &nbsp;
            else
                -isToday = today.getDate() == n && today.getFullYear() == year && today.getMonth() == month
                -isWeekEnd = d > 5
                -klass = ""
                if isToday
                    -klass = "isToday"
                if isWeekEnd
                    -klass += " isWeekEnd"
                td(data-link=`/journal/${year}-${month+1}-${n}` data-show-hover=`cell${n}-content` class=klass style=`width:5%;border:1px solid #DEE2E6`)
                    +cell(n++)

mixin cell(day)
    div(style="min-height:80px;")
        .dropdown(class=`cell${day}-content` style="float:right")
            button.btn.btn-sm.btn-outline-success(type="button" id=`actions-${day}` data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                i.fa.fa-plus(style="pointer-events:none")
            .dropdown-menu(aria-labelledby=`actions-${day}`)
                -date = year+"-"+util.zero(month+1)+"-"+util.zero(day)
                a.dropdown-item(href=`/journal/${date}`)=t("journal.button.day")
                .dropdown-divider
                a.dropdown-item(href=`/expense/new?date=${date}`)=t("expense.title.new")
                a.dropdown-item(href=`/event/new?date=${date}`)=t("event.title.new")
                a.dropdown-item(href=`/people/new?met_at=${date}`)=t("people.title.new")

        //a.btn.btn-sm.btn-outline-success(href="/journal/new" style="float:right" title=t("journal.button.new") class=`cell${day}-content`)
            i.fa.fa-plus
        if today.getDate() == day && today.getFullYear() == year && today.getMonth() == month
            b.text-info=day
        else
            b=day
        br
        for expense in journalData.expenses
            if expense.date.getDate() == day
                .text-danger
                    i.fa.fa-fw.fa-euro-sign
                    small
                        b=expense.amount.toFixed(2)

        for people in journalData.people
            if people.date.getDate() == day
                .text-success
                    i.fa.fa-fw.fa-user
                    small
                        b
                            =people.firstName[0]
                            if people.firstName.length-1
                                |&nbsp;+&nbsp;
                                =people.firstName.length-1
        
        for event in journalData.events
            if event.date.getDate() == day
                .text-info
                    for category in event.categories
                        i.fa.fa-fw(class=`fa-${category.icon}`)
                    if event.total - event.categories.length >= 1
                        small
                            b
                                -minus = 0
                                if event.categories.length == 0
                                    i.fa.fa-fw(class=`fa-calendar-alt`)
                                    -minus = 1
                                if event.total - event.categories.length - minus > 0
                                    |&nbsp;+&nbsp;
                                    =event.total - event.categories.length - minus

        if Math.random()>.9
            .text-primary
                i.fa.fa-fw.fa-sticky-note
                small
                    b=Math.round(Math.random()*5+1)

block content

    -d=new Date()
    -month = month || d.getMonth()+1
    -month = parseInt(month)-1
    -year = year || d.getFullYear()
    -year = parseInt(year)

    -first = new Date(year, month) // First day of month
    -first.setDate(1)
    -first = (first.getDay()||7)-1

    -last = new Date(year, month) // last day of month
    -last.setDate(1)
    -last.setMonth(last.getMonth()+1)
    -last.setDate(last.getDate()-1)
    -last = last.getDate()
    
    -n = 1 // cursor day
    -cell = 0 // cursor cell

    -today = new Date()

    .container
        .row
            .col
                .h1-actions
                    .btn-group
                        a.btn.btn-sm.btn-outline-secondary(href=`/journal/${year}-${month}`)
                            i.fa.fa-angle-left
                            |&nbsp;
                            =t(`month.${month==0?11:month-1}.long`)+(month-1<=0?" "+(year-1):"")
                        a.btn.btn-sm.btn-outline-secondary(href=`/journal/${year}`)=year
                        a.btn.btn-sm.btn-outline-secondary(href=`/journal/${year}-${month+2}`) 
                            =t(`month.${month+1>=12?0:month+1}.long`)+(month+1>=12?" "+(year+1):"")
                            |&nbsp;
                            i.fa.fa-angle-right
                    |&nbsp;
                    +new_btn("/journal/new", t("journal.button.new"))
                h1=t(`month.${month}.long`)
                .alert.alert-hollow
                    table.table.table-hover-cells
                        thead
                            tr
                                th(style="width:5%")=t("day.0.short")
                                th(style="width:5%")=t("day.1.short")
                                th(style="width:5%")=t("day.2.short")
                                th(style="width:5%")=t("day.3.short")
                                th(style="width:5%")=t("day.4.short")
                                th(style="width:5%")=t("day.5.short")
                                th(style="width:5%")=t("day.6.short")
                        -l = 0
                        while l < Math.ceil((first+last)/7)
                            +line()
                            -l++
                    